/*----------GLOBAL STYLES-----------*/

/* @font-face {
font-family: 'DM Serif Display', serif;
font-family: 'News Cycle', sans-serif;
// when including internal font files
// fontawesome.io is a good external font file <script>
// as well as google fonts <link href>
} */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: #E0DEEF;
  font-family: 'News Cycle', sans-serif;
  margin: 0;
  color: #E0DEEF;
}
h1, h2 {
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Shadows Into Light Two', cursive;
  text-transform: uppercase;
}
h1 {
  font-size: 70px;
  font-weight: bolder;
}
h2 {
  font-size: 45px;
  margin-top: 0;
  text-transform: uppercase;
  /* border: 2px solid blue; */
  color: #383650;
}
h3 {
  font-size: 22px;
  /* text-transform: uppercase; */
  /* margin: 0; */
  padding-top: 0;
  font-weight: bold;
  /* border: 2px solid green; */
}
p {
  font-size: 19px;
  /* padding: 0; */
  /* margin: 10px 0; */
  /* background: blue; */
  /* border: 2px solid purple; */
  color: #E0DEEF;
}
a {
  /* color: #3A3E3B; */
  color: #0F5257;
  font-size: 120%;
}
a:hover {
  text-decoration: none;
  color: #E0DEEF;
}
.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
  padding: 60px 50px;
}
.uppercase {
  text-transform: uppercase;
}
.button {
  text-decoration: none;
  background: #E0DEEF;
  padding: 0 10px;
}

/*----------HEADER AND FOOTER-----------*/
header {
  padding-top: 50px;
  position: relative;
}
header, footer {
  background: #9C92A3;
  /* color: #0F5257; */
  color: #0B3142;
  /* text-align: center; */
}
header h1, header h2 {
  margin: 0;
}
header h2 {
  font-size: 40px;
}
header p {
  color: #E0DEEF;
}
.profile-img {
  width: 350px;
  border-radius: 50%;
  /* border: 2px solid black; */
  /* float: left; */
  /* margin-right: 30px; */
}
.download {
  position: absolute;
  bottom: 0;
  right: 10px;
  background: #0B3142;
  color: #9C92A3;
  font-weight: 700;
  padding: 2px 5px;
}
footer {
  color: #0B3142;
  text-align: center;
}
footer a {
  text-decoration: none;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}

/*-------------NAVIGATION--------------*/
nav {
  text-align: center;
  background: #0B3142;
  font-size: 0;
  width: 100%;
  position: fixed;
  top: 0;
}
nav a {
  display: inline-block;
  padding: 10px 40px;
  /* background: #383650; */
  color: #9C92A3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  /* min-width: 50px; */
  /* width: 20%; */
}

/*----------WORK EXPERIENCE-----------*/

.work {
  color: #E0DEEF;
  background: #72727E;
}
.work h2, .work h3 {
  color: #0B3142;
  margin: 0;
  padding-top: 0;
}
h3 ~ p {
  margin: 0;
}
.job-description {

}
.job-description p:first-of-type {
  margin-top: 0;
  /* border: 2px solid yellow; */
  padding-top: 5px;
}

/*----------EDUCATION-----------*/

.education {
  background: #0B3142;
  color: #E0DEEF;
  /* background: linear-gradient(rgba(255, 255, 255, 0.8),
  rgba(199,21,133, 0.5)),
  url(https://unsplash.it/400/300) no-repeat fixed; */
  /* use this to set the background to a transition */
  /* Also need to create a subdiv that I add the color
  transition element to */
  /* color: #9C92A3; */
  /* color: #F0EFF4; */
}
.education h2, .education h3 {
  color: #9C92A3;
  margin: 0;
}
p + h3 {
  margin-top: 25px;
}
.edu-description p:first-of-type {
  margin-top: 0;
  /* border: 2px solid white; */
  padding-top: 5px;
}

/*-------------MEDIA QUERIES--------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
    padding: 0 10px;
    /* border: 2px solid black; */
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    padding-top: -15px;
    /* padding: -15px 20px 0; */
    /* border: 2px solid black; */
  }
}
@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}


/*---COLORS----
GREEN: #c3ebb4
LILAC: #E0DEEF
PURPLE-GRAY: #9C92A3
BLUE-GRAY: #f0f8fb
DEEP PURPLE: #383650
STEEL BLUE: #0B3142
TEAL: #216A6F
*/
